/******************CARDS***************/

/* Horizontal Scrollable Cards */
.cards-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /* Enables horizontal scrolling */
    padding: 10px 0;
    scroll-snap-type: x mandatory;
    /* Optional: Snap to cards */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */
}

/* Hide scrollbar */
.cards-container::-webkit-scrollbar {
    display: none;
}

.cards-container {
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.card {
    border-radius: 24px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.02), 0px 32px 64px 0px rgba(0, 0, 0, 0.04);
    background-color: #191919;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-width: 262px;
    /* Set min-width instead of fixed width */
    height: 262px;
    /* Fixed height */
    cursor: pointer;
    scroll-snap-align: start;
    /* Snap alignment for smooth scrolling */


}

.card-image {
    /* background-position: center;
    background-repeat: repeat-x; */
    width: 262px;
    height: 262px;
}

.card-text {
    display: flex;
    width: 253px;
    height: 110px;
    padding: 16px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.card-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #000000CC;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    font-size: 14px;
}

.card-title {
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: -0.4px;

}

.card-description {
    overflow: hidden;
    color: #707579;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.23px;
}

.card-teachers {
    margin-bottom: 5px;
    border-radius: 24px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.02), 0px 32px 64px 0px rgba(0, 0, 0, 0.04);
    background-color: #191919;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 250px;
    /* Set min-width instead of fixed width */
    height: 250px;
    /* Fixed height */
    cursor: pointer;
    scroll-snap-align: start;
    /* Snap alignment for smooth scrolling */
}